body,html{
    height:100%;
    margin:0;
    font-size:0.86rem;
    font-family:"lato",sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
    color:#000000;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: #000000;
}

 .home__container, .p__img--first, .p__img--second, .p__img--third{
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    /* to switch : parralax=fixed ___scroll=normal */
    background-attachment:normal;   
}

.p__img--first{
    background-image: url("../img/img2.jpg");
    min-height:400px;
}

.p__img--second{
    background-image: url("../img/img3.jpg");
    min-height:400px;
}

.p__img--third{
    background-image: url("../img/img1.jpg");
    min-height:400px;
}

.p__text{
    position: absolute;
    top:45%;
    width:100%;
    text-align:center;
    font-size:2rem;
    letter-spacing:0.85rem;
    text-transform:uppercase;  
}


.section{
    margin:0;
    padding:0;
    width:100%;
    display:flex;
    justify-content:space-around;
}
.section--light{
    background-color: white;
    color:black;  
}
.section--dark{
    background-color: black;
    color:white;
}


.header{
    text-transform: uppercase;
    text-align:center;
}
.header--dark{
    background-color: black;
    color:white;
}
.header--light{
    background-color: white;
    color:black;
}
.header--dark h2{
    border-left:solid 1px #ffffff;
    border-right:solid 1px #ffffff;
    display:inline-block;
    padding-right:1rem;
    padding-left:1rem;
}
.header--light h2{
    border-left:solid 1px #000000;
    border-right:solid 1px #000000;
    display:inline-block;
    padding-right:1rem;
    padding-left:1rem;
}

/* MENU */

.home__container {
    max-width: 960px;
    margin:auto;
    overflow:hidden;
    padding:0.3rem;
}

.home__showcase{
    color:black;
    height:100vh;
    position: relative;
}
.home__showcase:before{
    content:'';
    background:url("../img/img1.jpg") no-repeat center center/cover;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    background-attachment: fixed;
}
.home__showcase .home-showcase--inner{
    height: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;  
}
.home__logo{
    width:160px;
    height:160px;
}

.home__title--year{
    font-size: 1rem;
    text-transform:uppercase; 
}
.home__title--name{
    font-size:0.75rem;
    text-transform:uppercase;  
}

.home__title--location{
    font-size:0.70rem;
    text-transform:uppercase;
}

.btn{
    display:inline-block;
    padding:0.5rem 1.5rem 0.5rem 1.5rem ;
    margin-top:1rem;
    text-decoration:none;
    text-transform: uppercase;
    font-size:0.95rem;
    transition: opacity 1s ease-in;
}
.btn--dark{    
    border:0.1rem solid #ffffff;
    border-color: #000000;
    background-color:none;
    color:#000000;}

.btn--dark:hover{
    background-color: #000000;
    color:#ffffff;
    opacity:0.85;
}
/* FIN MENU */


/* APROPOS & INSPIRATION */

.about__container{
    width:100%;
    display:flex;
    flex-direction: column;
}
.section__text{
    height: auto;
    margin:auto;
    padding:0rem 2rem 1rem 2rem;
    text-align: justify;
    font-size:0.86rem;     
}

.about__img--right img{
    margin:0;
    padding:0;
    width:320px;
    height:358px;  
}

.about__img--left img{
    margin:0;
    padding:0;
    width:320px;
    height:358px;  
}
/* FIN A PROPOS & INSPIRATION*/

/* PORTFOLIO */

.ptf__section{
    display:flex;
    flex-direction: column;
}
.ptf__container{
    background-color: #000000;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    margin-bottom:1rem;  
}
.ptf__container div{
    display:flex; 
    margin:0.2rem;
    display:-ms-flexbox;
    -ms-flex-wrap:wrap;
    -ms-flex-direction:column;
    flex-flow:row wrap;
    display:-webkit-box;
    -webkit-flex-flow:row wrap; 
}
.ptf__container div img{
    width:100px;
    height:auto;
}
.ptf__footer--dark{
    display:flex;
    background-color: #000000;
    height:80px;
}
.btn--light{
    background-color:none;
    color:#ffffff;
    border:0.1rem solid #ffffff;
    margin:auto; 
}
.btn--light:hover{
    background-color: #ffffff;
    color:#000000;
    opacity:0.40;
}

/* CONTACT */

.contact__container{
    max-width:1150px;
    margin-left:auto;
    margin-right:auto;
    padding:1rem;
}
.contact__logo{
    width:160px;
    height:160px;
}
h3{
    font-size:1rem;
    text-transform: uppercase;
}
ul{
    list-style:none;
    font-size:1rem;
    padding:0;
}

.contact__wrapper{
    margin-top:20px;
    margin-bottom:20px;
    border:1px solid #ffffff;
    box-shadow:0 0 5px 0 grey;

}
.contact__wrapper>*{
    padding:1rem
}

.contact__box--info{
    display:flex;
    flex-direction:column;
    justify-items: center;
    align-items: center;
    background:#ffffff;
    color:black;
}

.contact__box--info h3, .contact__box--info ul{
    text-align:center;
    margin:2rem 0 2rem 0;
}

/* style form */

.contact__box--email form{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:20px;
}

.contact__box--email form label{
    display:block;
}

.contact__box--email form p{
    margin:1rem 1.5rem 1rem 0rem;
    height: auto;
    text-align: justify;
    font-size:0.86rem;   
}

.contact__box--email .contact__label--full{
    grid-column:1/3;
}

.contact__box--email form button, .contact__box--email form textarea{
    width:100%;
    padding:0.50rem;   
}

.contact__box--email form input{
    width:93%;
    padding:0.30rem;   
}

.contact__box--email button{
    background:#000000;
    border:0.1rem solid #ffffff;
    text-transform:uppercase;
    color:#ffffff;
}

.contact__box--email button:hover, .contact__box--email  button:focus{
 background:#ffffff;
 color:#000000;
 outline:0;
 transition:background-color 2s ease-out;
}


/* RESPONSIVE */

@media screen and (min-width:400px){

    .ptf__container{
        background-color: #000000;
        margin:.5vw;
        display:-ms-flexbox;
         -ms-flex-wrap: wrap;
         -ms-flex-direction: column;
         -webkit-flex-flow:row wrap;
        flex-flow:row wrap;
        display:-webkit-box;
        display:flex;
    }
    .ptf__container div{
        -webkit-box-flex: auto;
        -ms-flex: auto;
        flex:auto;
        width:200px;
        margin:.5vw;
    }
    .ptf__container div img{
        width:100%;
        height:auto;
    }

}

@media (min-width:356px){
    .about__container{
        width:100%;
        display:flex;
        flex-direction:column;   
}
    .section__text{
    padding-top:1rem;
    font-size:1rem;
    text-align: justify;
}
    .about__img--right{  
    display:flex;
    justify-content: flex-end;        
}



@media (min-width:800px){
    .home__container , .p__img--first, .p__img--second, .p__img--third{
        background-attachment: fixed;
    }
    .home__title--name{
        font-size:1rem;
    }
    .home__title--location{
        font-size:0.85rem; 
    }
}


/* contact */
@media (min-width:700px){
    .contact__wrapper{
        display:grid;
        grid-template-columns:1fr 2fr;
    }
    .contact__logo{
        margin-left:15px;
    }

    .contact__box--info h3{
       margin-top:1rem;
    }

    .contact__box--email form input
{
    width:95%;
    padding:0.30rem;
    
}
}

@media (min-width:900px){
    .about__container{
        margin:0;
        width:100%;
        display:flex;
        flex-direction:row-reverse;   
    }
    .section__text{
    padding-top:1rem;
    width:40%;
    font-size:1.2rem;
    text-align: justify;
 }
 .home__logo{
    width:200px;
    height:200px;
}
}
